<div class="container-fluid">
    <form class="form-inline" action="/search" method="post">
        <div class="form-group col-xs-12">
            <input name="search" class="typeahead text-center input-lg col-xs-11" type="text" data-provide="typeahead" placeholder="Введите название лекарства" autocomplete="off">
            <button type="submit" class="btn-lg btn-default col-xs-1">Искать</button>
        </div>
    </form>
<script type="text/javascript">
    $(document).ready(function() {
        $('input.typeahead').typeahead({
            source: function (query, process) {
                $.ajax({
                    url: 'ajax/search',
                    type: 'POST',
                    dataType: 'JSON',
                    data: 'search=' + query,
                    success: function(data) {
                        console.log(data);
                        process(data);
                    }
                });
            }
        });
    });
</script>
</div>
<br />
{{ include('Apteka/yandex.maps.html') }}
