<!DOCTYPE html>
<html lang="ru">
<head>
<title>{{ site.title }}</title>
<meta charset="utf-8">
{% for attr_name, attr_value in site.meta %}
{% for name, content in attr_value %}
    <meta {{ attr_name }}="{{ name }}" content="{{ content }}">
{% endfor %}
{% endfor %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="js/bootstrap3-typeahead.min.js"></script>
	<script src="js/apteka.js"></script>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<header>
<div class="fluid-container">
<nav id="header" class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a id="imglogo" class="navbar-brand" href="/"><img src="/img/kostroma_46x37.png" /></a>
          <a class="navbar-brand" href="/">
            <p id="sitetitle">{{ site.title | upper }}</p>
            <p id="siteslogan">{{ site.name | lower }}</p>
          </a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><img src="/img/drug.png" /><span class="menuitem">Лекарства</span></a></li>
            <li><a href="#"><img src="/img/pharmacy.png" /><span class="menuitem">Аптеки</span></a></li>
            <li class="active"><a href="#"><img src="/img/info.png" /><span class="menuitem">О проекте</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>
</header>
